LinkedIn/backend/.env
LinkedIn/frontend/node_modules
LinkedIn/backend/node_modules
Food app/food app back-end/.env
Food app/food app back-end/node_modules
Food app/food app front-end/node_modules
Chat App/frontend/node_modules
Chat App/backend/node_modules
Chat App/backend/.env
Fashion E commerce app/frontend/node_modules
Fashion E commerce app/backend/node_modules
Fashion E commerce app/backend/.env
